workflows/transaction-workflow/workflow.asl.yml
Comment: Transaction Workflow
StartAt: startTransactionStep
States:
  errorHandlerStepStep:
    Type: Task
    Resource: !GetAtt error-handler-step-lambda.Arn
    TimeoutSeconds: 28
    End: true
  startTransactionStep:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName: !GetAtt start-transaction-lambda.Arn
      Payload:
        taskToken.$: $$.Task.Token
        transactionId.$: $.transactionId
        body:
          currencyFrom.$: $.body.currencyFrom
          currencyTo.$: $.body.currencyTo
          currencyFromAmount.$: $.body.currencyFromAmount
    TimeoutSeconds: 60
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: $.error
        Next: errorHandlerStepStep
    Next: saveUserDataStepStep
  saveUserDataStepStep:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName: !GetAtt save-user-data-step-lambda.Arn
      Payload:
        taskToken.$: $$.Task.Token
        transactionId.$: $.transactionId
        body:
          firstName.$: $.body.firstName
          lastName.$: $.body.lastName
          city.$: $.body.city
          street.$: $.body.street
          zipCode.$: $.body.zipCode
          email.$: $.body.email
    TimeoutSeconds: 60
    Catch:
      - ErrorEquals:
          - States.ALL
        ResultPath: $.error
        Next: errorHandlerStepStep
    End: true